.client-prioritisation{
	display : flex;
	flex-direction: column;
	flex-grow : 1;
	overflow : auto;
	padding: 25px 50px;
	.clients-filters{
		display: flex;
		flex-wrap: wrap;

		& > * {
			margin-bottom: 1rem;
		}
	}
	.client-card{
		width: 380px;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding-top: 1rem;
		border-radius: 15px;
		margin: 1rem;
		h3 {
			overflow: hidden;
			.client-card-title{
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-weight: 400; 
				font-size: 24px;
				width: 330px;
				color: @secondary-color-plum;
				overflow: hidden;
			}
			.client-card-industry{
				color: #A9A9A9;
				font-size: 12px;
			}
		}
		.client-card-content{
			display: flex;
			flex-direction: column;
			align-items: center;
			.client-card-item-name {
				margin-top: 3px;
				color: @secondary-color-plum;
			}
			.client-card-items{
				font-weight: 400;
				color: #333;
			}
		}
		.client-card-kpi-container{
			margin-top: 2rem;
			display: flex;
			justify-content: space-evenly;
			background-color:  #91436e;
			padding: 1rem;
			border-radius: 0 0 15px 15px;
			width: 380px;
			.client-card-kpi{
				border-right: 1px solid #CCC;
				text-align: center;
				padding: 0px 10px;
				width: 100%;
				.client-card-kpi-value{
					font-size: 22px;
					font-weight: 400;
					color: white;
					margin-bottom: 5px;
				}
				.client-card-kpi-name{
					font-size: 10px;
					color: white;
				}
			}
		}
	}
}