.cross-client-layout{
	flex-grow : 1;
	overflow : auto;
	display: flex;
	flex-direction : column;
	padding: 25px 50px;
	.filters{
		display: flex;
	}
	.industry-card{
		display: inline-block;
		margin: 1rem;
		width: 380px;
		border-radius: 15px;
		background-color: white;
		.industry-logo{
			width: 380px;
			height: 200px;
			object-fit: cover;
			border-radius: 12px 12px 0 0;
			opacity: 0.9;
		}
		.industry-card-body{
			display: flex; 
			flex-direction: column;
			align-items: center;
			padding: 2rem;
			.industry-name{
				font-weight: bold;
				padding-bottom: 15px;
				color: @secondary-color-plum;
				font-size: 20px;
			}
			.companies-count{
				color: #565656;
				font-size: 14px;
			}
		}
		.client-card-kpi-container{
			margin-top: 2rem;
			padding: 1rem;
			display: flex;
			justify-content: space-evenly;
			background-color: #91436e;
			border-radius: 0px 0px 12px 12px;
			.client-card-kpi{
				border-right: 1px solid #CCC;
				text-align: center;
				padding: 0px 10px;
				width: 100%;
				.client-card-kpi-value{
					font-size: 22px;
					font-weight: 400;
					color: white;
					margin-bottom: 5px;
				}
				.client-card-kpi-name{
					font-size: 10px;
					color: white;
				}
			}
		}
	}
}