.dashboard-item{
	.dashboard-title{
		color: #565656;
		font-size: 16px;
		font-weight: 400;
		padding-bottom: 1rem;
		padding-left: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		border-bottom: 1px solid #D3D3D3;
	}
}
.dashboard-tab{
	padding-top: 0.5rem;
}

.dashboard-section-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	.dashboard-section-title{
		margin-right: 0.7rem;
		color: #565656;
		font-size: 20px;
		font-weight: 500;
	}
}
.blue-theme{
	// border: 3px solid @primary-color !important;
	background-color: @primary-color;
	.dashboard-section-title{
		color: white;
		
	}
	.kpi{
		background-color: @primary-color !important;
		color: white !important;
	}
	.anticon-info-circle:before{
		color: white;
	}
	.kpi-footer {
		color: white !important;
	}
	.download-icon{
		border-color: @primary-color !important;
		background-color: @primary-color !important;
		color: white !important;
	}

}
.download-icon{
	height: 2rem;
	width: 3rem;
	border-color: white;
	color: @primary-color;
}
.dashboard-top-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	
}
.ant-tabs-bar{
	margin: 0px;
}
.si-loading{
	z-index: 100;
}

.recharts-text.recharts-cartesian-axis-tick-value {
    font-size: 12px;
}

.recharts-text.recharts-label {
    font-size: 12px;
}
.dashboard-filter-text{
	// min-width: 100px;
	font-size: 1rem;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 10px;
}
// .dashboard-tab{
// 	.dashboard-filter-text{
// 		margin-bottom: 6px;
// 	}
// }
.ant-select-tree{
	max-height: 300px;
}

.download-menu{
	.ant-dropdown-menu-item{
		padding: 0;
		.download-menu-item{
			padding: 5px 12px;
		}
	}
}
.dod-dashboard {
	padding: 1rem;
	margin: 1rem;
	border: 1px solid #ddd;
	background-color: #FFF;
	border-radius: 20px;
	
}::-webkit-scrollbar {
	display: none;
}
.dod-scrollbar::-webkit-scrollbar {
	display: none;
}
.dod-empty-dashboard {
	display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
	margin-top: 2rem;;
    padding: 5rem;
    color: #444;
    font-size: 30px;
    text-align: center;
}
.ant-select-selection--multiple{
	max-height: 40px;
	overflow: hidden;
}

.user-filter{
	display: flex;
	justify-content: center;
	.ant-select-selection--multiple{
		overflow: auto;
	}
}