@import "./cross-client-analysis.less";
@import "./client-prioritisation.less";
@import "./programme-info.less";
@import "./prioritisation.less";
@import "./summary.less";
@import "./notes.less";
@import "./stories.less";
@import "./dashboard.less";

.analysis-tab-title{
	font-size: 24px;
	font-weight: 400;
	color: @primary-color;
	margin-bottom: 25px;
}
.analysis-tab-content{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.kpi-charts{
	display: flex;
	.kpi{
		width: 100%;
		.kpi-title{
			font-size: 16px;
			height: 3rem;
			text-align: center;
		}
		.kpi-data{
			text-align: center;
			font-size: 3rem;
		}
		.kpi-footer{
			margin-top: 2rem;
			margin-right: 1rem;
			padding-bottom: 1rem;
			text-align: center;
		}
	}
}
.pdf-header{
	background-color: @primary-color;
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin: 1rem;
	border-radius: 20px;
}