.proritisation{
	flex-grow : 1;
	overflow : auto;
	display: flex;
	flex-direction : column;
	padding: 25px 50px 50px 50px;
	.proritisation-filters{
		display: flex;
		margin-bottom: 1rem;
	}
	.ReactTable .rt-thead .rt-th {
		text-align: left;
	}
}