.programme-info{
	flex-grow : 1;
	overflow : auto;
	display: flex;
	flex-direction : column;
	padding: 25px 50px 50px 50px;
	.si-titled-card > .si-picture {
		bottom: -6rem;
		margin-top: -11rem;
		margin-bottom: 3rem;
	}
	.client-card{
		width: 400px;
		h3 {
			overflow: hidden;
			.client-card-title{
				font-weight: 400; 
				font-size: 20px;
				color: #0E3A53;
				overflow: hidden;
			}
		}
		.si-component-card{
			margin-top: 3.5rem;
			padding: 2rem !important;
		}
		.client-card-content{
			display: flex;
			flex-direction: column;
			align-items: center;
			.client-card-item-name {
				margin-top: 3px;
				color: #0E3A53
			}
			.client-card-items{
				font-weight: 400;
				color: #666;
			}
		}
		.custodian-row{
			display: flex;
			margin-top: 2rem;
			justify-content: space-between;
			.custodian-section{
				display: flex;
				flex-direction: column;
				align-items: center;
				.custodian-title{
					color: #0E3A53;
					text-align: center;
					font-size: 10px;
					margin-bottom: 5px;
				}
				.custodian-name{
					color: #666;
					font-size: 12px;
					margin-top: 5px;
				}
				.custodian-email{
					color: #666;
					font-size: 12px;
					margin-top: 2px;
				}
			}
		}
	}
	.product-title{
		color: #666;
		font-weight: 400;
		font-size: 20px;
	}
	.product-section{
		display: flex;
		flex-wrap: wrap;
		.product-cards{
			width: 150px;
			padding: 1rem;
			border-radius: 10px;
			margin: 1rem 1rem 0 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			.product-icon{
				width: 100%;
				border-bottom: 1px solid #666;
			}
			.product-name{
				text-align: center;
				margin-top: 1rem;
				color: #666;	
				font-size: 1.2rem;
				height: 50px;
			}
		}
	}
}
.programme-modal {
	padding: 0 3rem;
	line-height: 2;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	  }
	  
	  li {
		text-indent: -1.1rem;
	  }
	  
	  li::before {
		content: "• ";
		margin-right: 0.5rem;
		color: @primary-color; /* or whatever color you prefer */
	  }
}
.modal-item-container{
	display: flex; 
	justify-content: space-evenly; 
	margin-top: 10px;
	.modal-single-item{
		width: 220px;
		text-align: center;
		.modal-single-logo{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}