@import "./reboot";
@import "./tabbar";
@import "./settings.less";
@import "./analysis/index.less";
@import "./login.less";
@import "./vars.less";

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	font-size: 14px;
	font-family: 'Open Sans' !important;
}

// #nav {
// 	position: fixed;
// 	width: 100%;
// 	z-index: 999;
// }

#root {
	display: flex;
	flex-flow: column;
	flex: 1 0 auto;
}

.menu {
	position: fixed;
	width: 100%;
	z-index: 1;
}
.si-horizontal-navbar{
	background-color: @primary-color;
}
.si-horizontal-navbar-wrapper .container {
	margin-top: 75px;
}

.app-container {
	background-color: #E0EEF0;
	display: flex;
	flex-grow: 1;
	margin-bottom: 2.2rem;
}

.main-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #F8FBFF;
	padding: 1rem;
	border-top: 1px solid #ccc;
}

.ant-form-vertical {
	.ant-row {
		display: block;
	}
}

.ant-row {
	display: flex;
	align-items: center;
}

.form_last-form-item {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
option,
select,
ul,
li,
button,
div,
input {
	font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-item {
	color: white !important;
	font-weight: 400 !important;
	padding: 1rem;
}

.multi-select-container * {
	line-height: 1.5;
}

.ant-breadcrumb {
	font-weight: 400;

	.ant-breadcrumb-link>a {
		color: white;
	}

	.ant-breadcrumb-separator {
		color: white;
	}
}

.center {
	text-align: center;
}

.si-input {
	height: 1rem !important;
}

.si-profile-picture {
	background-size: contain !important;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}

.si-loader-error {
	color: black;
	font-size: 1rem;
}

.si-top-menu-components {
	.active {
		border: 0 !important;

		.menu-item {
			color: @primary-color !important;
		}
	}
}

.no-permission {
	flex-grow: 1;
	text-align: center;
	margin-top: 3rem;
	font-size: 2rem;
	color: @secondary-color;
}
.si-tabs .tabs-header .tabs-title>.tabs-item {
	color: white !important;
}

.si-tabs .tabs-header .tabs-title>.tabs-item.active {
	background-color: white !important;
	border-radius: 25px;
}

// AFter
.si-tabs .tabs-header .tabs-title>.tabs-item.fill{
	flex: 0;
}
.si-top-menu{
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid #E9EFF2;
}
.si-tabs .tabs-header .tabs-title {
	margin-left: 0;
}
.si-tabs .tabs-header .tabs-title>.tabs-item.fill{
	flex: 0;
	min-width: 200px;
}
.si-tabs .tabs-header .tabs-title > .tabs-item.active {
	border-bottom: none;
}
.si-tabs .tabs-header {
	background: @primary-color;
}
.si-menu-items
{	
	align-items: center;
	flex-grow: 1;
	justify-content: space-between;
	height: 75px;
	.si-tabs .tabs-header .tabs-title>.tabs-item.active{
		color: white !important;
	}
}
.si-profile > .picture {
	margin-bottom: 0;
}
.si-profile-picture.rounded{
	border-radius: 10% !important;
}
.ant-tabs-nav-wrap{
	background-color: white;
}
.ant-breadcrumb {
	a{
		color: @primary-color !important;
	}
	span{
		color: @primary-color !important;
	}
}
// .ant-select-selection{
// 	border: 0;
// }
.ant-select-arrow:before{
	color: @primary-color;
}
.si-horizontal-navbar .si-horizontal-navbar-item {
	height: 40px;
	line-height: 40px;
	color: white;
}
.si-horizontal-navbar .active > .si-horizontal-navbar-item{
	border-bottom: 2px solid white;
	color: white;
}
.si-horizontal-navbar .si-horizontal-navbar-item:hover {
	color: white !important;
}
.si-input-wrapper .si-input-area > .si-input{
	border: 0;
}
.dashboard-container .si-card{
	box-shadow: none !important;
	border-radius: 20px;
}
.dashboard-nav {
	.si-tabs .tabs-header {
		background: none;
		font-weight: bold;
	}
	.si-tabs .tabs-header .tabs-title > .tabs-item.active {
		border-bottom: 1px solid @primary-color !important;
		color: @primary-color !important;
	}
}

.ant-dropdown-menu-submenu-vertical > .ant-dropdown-menu {
	left: -100%;
}

.dod-popup {
	width: 200px;
	.ant-select-selection {
		border: 1px solid #E0EEF0;

	}
}