.login-screen-dimension {
    width: 100%;
    height: 100%;
}

.login-screen-image-dimension {
    width: 60%;
    float: left;
    height: 100%;
    background-color: #ccdcde;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 50%;
    }
}



.login-screen-text-dimension {
    width: 40%;
    float: left;
    background-color: #FFFFFF;
    height: 100%
}

.login-screen-card {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    .ant-card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
    }
}

.login-screen-logo-dimension {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 75%;
    }
}



.login-text-body {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
        font-size: 2rem;
        display: block;
        color: @secondary-color-marine;
    }

    .sub-heading {
        color: @primary-color;
        display: block
    }

    .forgot-sub-heading {
        color: @primary-color;
    }

    .new-password-sub-heading {
        color: @primary-color;
    }

    .login-form {
        margin-top: 1rem;
        width: 18rem;

        .item {
            margin-bottom: 1.2rem;

            span {
                display: block;
                font-size: 1rem;
                color: @secondary-color-marine;
            }
        }

        Input {
            background-color: #e8ebed;
            height: 3.5rem;
            width: 18rem;
            border-radius: 10px
        }

        Button {
            height: 3.5rem;
            width: 18rem;
            margin-top: 1rem;
            border-radius: 10px;
            background-color: @secondary-color-marine;
            color: white;
            font-size: 1.3rem;
        }

        .forgot-password-dimension {
            width: 100%;
            font-size: 1rem;
            margin-top: 1rem;
            text-align: center;

            .link {
                color: @secondary-color-marine !important
            }
        }
    }


}