.tab{
        background-color: steelblue;
}

/**
* Table
*/
.rt-th.rt-resizable-header.-sort-asc.-cursor-pointer::after {
        content: '';
        display: inline-block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid @primary-color;
        position: absolute;
        right: 1rem;
        top: 30%;
}
.rt-th.rt-resizable-header.-sort-desc.-cursor-pointer::after {
        content: '';
        display: inline-block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid @primary-color;
        position: absolute;
        right: 1rem;
        bottom: 30%;
}

.ReactTable .rt-thead .rt-th{
        border-top: 1px solid @primary-color;
        border-bottom: 1px solid @primary-color;
        border-left: 0;
        border-right: 0;
        font-weight: 500;
        padding: 1rem;
        padding-right: 30px;
}

.ReactTable{
        border: 0;
        font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ReactTable.-striped .rt-tr.-odd{
        background: white;
}

.ReactTable .rt-thead.-header{
        box-shadow: none;
        background: white;
}

.ReactTable .rt-tbody .rt-td{
        border: 0;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc{
        box-shadow: none;
}
.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc{
        box-shadow: none;
}
