@icas-primary-color : #368D9B;
@secondary-color-aqua: #368D9B;
@secondary-color-marine: #133D54;
@secondary-color-peach: #D96D4A;
@secondary-color-sage: #36745A;
@secondary-color-persimmon: #B55C53;
@secondary-color-sahara: #B68952;
@secondary-color-plum: #852E5E;